.DS_Store

.lightcurves_paths/
lightcurves_paths/*

*.pyc

Resultados/
.Resultados/

Entrenamiento/
.Entrenamiento/

Datos
.Datos/

otro.py
seminario.py

.idea

config.py

Sets de entrenamiento/

Graficos Features/
.Graficos Features/

GP Samples/

temp.py

script.py

