algo.pkl

config.py

Conteo.csv

data_errors/

.DS_Store

feature_names.txt

fix.py

GP Samples/

length_errors/
lightcurves_paths/
lightcurves_paths/*

notebooks/*

*.pyc

Resultados/

script.py
sets/

temp.py

\#*

