.DS_Store

.lightcurves_paths/
lightcurves_paths/*

*.pyc

Resultados/
.Resultados/

Entrenamiento/
.Entrenamiento/

Datos
.Datos/

otro.py

.idea

config.py

Sets de entrenamiento/

Graficos Features/
.Graficos Features/

GP Samples/

temp.py

sets/
script.py

Conteo.csv

algo.py
algo.pkl

feature_names.txt

length_errors/

\#*

fix.py
data_errors/
